@model PMWelfare.Models.Celebrant

@{
    ViewBag.Title = "Details";
}

<h2 style="text-align:center">Details of @Model.Celebration.EventName </h2>

<div style="margin-left:30%">
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Celebration.EventName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Celebration.EventName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Member.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Member.FirstName)
        </dd>
        <dd>
            @Html.ActionLink("Edit data", "Edit", new { id = Model.CelebId })

        </dd>
    </dl>

</div>

