@model IEnumerable<PMWelfare.Models.Subscription>

<head>
    <title>Subscriptions</title>
</head>

<div >
    <ol class="breadcrumb">
        <li> @Html.ActionLink("Home", "Index","Home")</li>
        <li class="active"> @Html.ActionLink("Subscriptions", "Index")</li>
    </ol>
</div>
@using (Html.BeginForm("Index","Subscriptions",FormMethod.Post))
{
    <text>SubMonth</text>@Html.DropDownList("SubMonth", new SelectList(ViewBag.submonth), htmlAttributes: new { @class = "form-control" })
    <text>SubYear</text>@Html.DropDownList("SubYear", new SelectList(ViewBag.subyear), htmlAttributes: new { @class = "form-control" })
    <input type="submit" value="Search"/>
}

@using (Html.BeginForm("ExportToExcel", "Subscriptions", FormMethod.Post))
{

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>

                @Html.DisplayNameFor(model => model.SubMonth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubYear)
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @System.Globalization.CultureInfo.CurrentCulture.DateTimeFormat.GetAbbreviatedMonthName(item.SubMonth)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SubYear)
                </td>

            </tr>
        }

    </table>
    <input type="submit" value="Export to Excel" class="btn btn-info" />

}

