@model IEnumerable<PMWelfare.Models.Celebration>

@{
    ViewBag.Title = "View";
}

<h2>View</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EventType.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventDate)
        </th>
       
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EventType.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EventDate)
        </td>

        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EventId }) |
            @Html.ActionLink("Details", "Details", new { id=item.EventId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.EventId })
           
        </td>
    </tr>
}

</table>
