@model IEnumerable<PMWelfare.Models.Member>

@{
    ViewBag.Title = "new staff member";
}
<div>
    <ol class="breadcrumb">
        <li> @Html.ActionLink("Home", "Index", "Home")</li>
        <li class="active"> @Html.ActionLink("Members", "Index", "Members")</li>
   
    </ol>
</div>
<h2 style="text-align:center">List of Staffs in the system</h2>

<button class=" btn btn-info" onclick="location.href='@Url.Action("Create","Members")'">
    Add a new member
</button>
<table class="table table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MemberStatus1.MemberStatus1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OtherName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DOB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsAdmin)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MemberStatus1.MemberStatus1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OtherName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DOB)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsAdmin)
        </td>

        <td style="width:10%">
            @Html.ActionLink("Edit", "Edit", new { id=item.UserName }) |
            @Html.ActionLink("Details", "Details", new { id=item.UserName }) |
        </td>
    </tr>   
}

</table>
