@model IEnumerable<PMWelfare.Models.Deposit>

@{
    ViewBag.Title = "Record of collections";
    
}
<div>
    <ol class="breadcrumb">
        <li> @Html.ActionLink("Home", "Index", "Home")</li>
        <li class="active"> @Html.ActionLink("Deposits", "Index", "Deposits")</li>
      
    </ol>
</div>
<h2 style="text-align:center">Record of Payments</h2>

<table class="table table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Member.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Member.UserName)
        </td>
        <td>

            @Html.DisplayFor(modelItem => item.Amount)
        </td>

        <td style="width:10%">
            @Html.ActionLink("Edit", "Edit", new { id=item.DepositId }) |
            @Html.ActionLink("Details", "Details", new { id=item.DepositId }) |
        </td>
    </tr>
}

</table>
