@model IEnumerable<PMWelfare.Models.Expense>

@{
    ViewBag.Title = "Expenses";
}
<div>
    <ol class="breadcrumb">
        <li> @Html.ActionLink("Home", "Index", "Home")</li>
        <li> @Html.ActionLink("Events", "Index", "Celebrations")</li>
        <li class="active"> @Html.ActionLink(" Expense Record", "Index", "Expenses")</li>
    </ol>
</div>
<h2 style="text-align:center">Record Of Expenditures</h2>

<br />
<button class="btn btn-info" onclick="location.href='@Url.Action("Create","Expenses")'">
    Create New Expense
   
</button>

<table class="table table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SupProducts.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExpenseDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SupProducts.ProductName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExpenseDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>

        <td style="width:10%">
            @Html.ActionLink("Edit", "Edit", new { id=item.ExpenseId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ExpenseId })
        </td>
    </tr>
}

</table>
