@model IEnumerable<PMWelfare.Models.Expense.MonthlyExpensesViewModel>

@{
    ViewBag.Title = "MonthlyExpenses";
}

<h2>MonthlyExpenses</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.product_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.event_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.productprice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalPrice)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.product_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.event_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.productprice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPrice)
            </td>


        </tr>
    }

</table>
@{
    Html.RenderAction("TotalExpense", "Expenses");
}

