@model IEnumerable<PMWelfare.Models.SupProducts>

@{
    ViewBag.Title = "Products supplied";
}

<h2 style="text-align:center">List of Products supplied</h2>
<br />
<p>
    @Html.ActionLink("Add a new Product", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Celebration.EventName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Supplier.SupTel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnitPrice)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem =>  item.Celebration.EventName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Supplier.SupTel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UnitPrice )
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ProductId }) 
            </td>
    </tr>
}

</table>
